certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.9
flake8==4.0.1
idna==3.3
importlib-metadata==4.8.2
mccabe==0.6.1
mysql-connector==2.2.9
pycodestyle==2.8.0
pyflakes==2.4.0
requests==2.26.0
urllib3==1.26.7
zipp==3.6.0
